# Node environment
.cache.json
node_modules
.tmp
node_build/

# Python/Django environment
Pipfile*
local_settings.py
__pycache__/

# Sqlite
*sqlite3*

# Misc
.DS_Store
._*
Thumbs.db
.cache
.settings
.tmproj
*.diff
*.err
*.log
*.vi
*~
.#*

# Docker Ignore
.git
