# Database Configurations
DB_USER=admin
DB_PASS=admin
DB_NAME=prddb
DB_HOST=127.0.0.1

# Django
DJANGO_SECRET_KEY=django-secret-key
DJANGO_ALLOWED_HOSTS=*
DJANGO_CORS_ALLOWED_ORIGINS=http://localhost:8010

# React
REACT_APP_PORT=8000

# Dev
DEBUG=True
